html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	text-align: left;
	width: 100%;
	overflow: hidden;
	background: #e9dfc7;
	min-width: 400px;
	max-width: 800px;
}

.m-read-content {
	font-size: 14px;
	color: #555;
	line-height: 31px;
	padding: 15px;
	width: 90%;
}

.m-read-content h4 {
	font-size: 20px;
	color: #736357;
	border-bottom: solid 1px #736357;
	letter-spacing: 2px;
	/*字符间距*/
	margin: 0 0 1em 0;
}

.m-read-content p {
	text-indent: 2em;
	margin: 0.5em 0;
	letter-spacing: 0px;
	line-height: 24px;
	/*margin-right: 0.5em;*/
}

.u-tab {
	height: 34px;
	margin: 10px auto;
	line-height: 34px;
	border-radius: 8px;
	border: 1px solid #858382;
	font-size: 12px;
	background: #000;
	opacity: 0.9;
}

.u-tab li {
	display: inline-block;
	width: 49%;
	border-right: 1px solid #858382;
	text-align: center;
	color: #fff;
}

.u-tab li:nth-child(2) {
	border-right: none;
}

.m-button-bar {
	width: 70%;
	max-width: 800px;
	padding: 5px;
	margin: 0 auto;
}

.top-nav {
	position: fixed;
	top: 0px;
	height: 50px;
	width: 100%;
	z-index: 9999;
	background: #000000;
	opacity: 0.9;
}

.icon-back {
	position: absolute;
	top: 14px;
	left: 10px;
	width: 23px;
	height: 23px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkJGMkEyQkQxMjdBNDExRTU4NjA2QTJDMjFDQ0I0ODhEIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkJGMkEyQkQyMjdBNDExRTU4NjA2QTJDMjFDQ0I0ODhEIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QkYyQTJCQ0YyN0E0MTFFNTg2MDZBMkMyMUNDQjQ4OEQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QkYyQTJCRDAyN0E0MTFFNTg2MDZBMkMyMUNDQjQ4OEQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4Ia560AAAHWklEQVR42uyd7W9URRTGDwu0lFL6IkiBCpQKBpUKJCIETURFxZL4sdao8YN+0D/IL2pilFD8aCJgQAE1KGhSkCqEl1KUSguU0gIV6ELredJn2unC7V5298596Z7kyb27odw7vzsz98yZmbPTRkZGJESbrVqoekQ1j6rg9zNVJap7qiHVbR4HVb3UVVW36r+wCjDNMUBAWa6qVy1TLcA95Pl/ogCXVOdVnapzqnSSAAJQg2qNaiVrlTEU9KLqCmsTatX1jBon/JtZPM5lTTW1djEfjDH8zWnVMVUHAccSIAq7TrVBVWV9/6/qDGtMl+punteZoapjjV5BoMb6VYdVbdbDiDxA1Ib1qk3sy2ADrBHtrGVBGmrlatb4Sn6HPvKQ6rdCN+9CA3xatcW68R7Vz6oTQTclj67jSdXzfFGZB7lP9WfUAKKJblM9boHbz6Ya6mueING0N1sgz6q+ZRMPHWCjqklVyo7/gOp31bBEy1KqZwkSL6Q7ql2q42EBnEFwa/kZzXSP6oZE2+BnbmXzhh0lyLsuAZar3lI9xk55D990cTI8+Df40rug2kknPXCA1ap3VTXsQ3ayz4uj1aqaWaY+1Veqa0ECnK96j80A/lyr6qbE2+aoWug/ovv5ko59wQGixr3PkUAn4Q1JMqyEEOs5EvqCNdLXm8lvn/eOBW9HguCZ4d8Olm0uy1peKIDT+XRqOPRqdTlYd2hplq2LZW2hp5E3wCaONa8lrNl61cRWlrWOb+m8ADYyIICn83Uur/kY2iDLmmbZG3MFWMXaJ/TzemTqWA/LbFpgVS4At3F4diKGTnIhrI1lLyULz+GYV1QFgYFbHObkZndvuynqjFlB/c+76NqABUJk7X5qIIY2W3i+b4r0e5P1h/t4/opMjHx7AkQwFPG8bg60o2JL2S9d5rHO0XXB4CKZrM8GEB75Jp7/IOHH8owtU/2oep3DSRw/d3RtMDjI800ycU7nPoCIUCAM/4+MBh2jAu8ga6Btmx3ewxm+mWfLePjuPoCI3G7g+S8Rhwf71eF9oBb+xPONYk3F2gAbGNaBF34q4vBQGz5wfD8nyaaKrO4DuMbyf0YiDu8lNitxXAvbMliNAcTreSX/UXsM4J0M6d6Ok9HYAoGU1XzxBYKk/UV4njbAaA1YLbcBmunI00V4vt7IY8wMwHoeO4rwslqHzQwAEXnFQp0hjj6K8Ca3brICs3IANLP16P+Gi/Cy2jBZwRYBYC0/XHJ8I/UxhCcZrBYAYA0/9DqGdyCm8GxWNSmOPsSh+xJ3eCLjk+/VAFhh+ThFeP7sOo8VAFjGD7eK8HybYVUGgCasH+Rc75IEwbNZzQTAUn64E+AFP00QPJtVCQDe44fpAV7wOY/vP44hvAmWsmiWBnidIx7ff6JaFUNuhtVQSibuxQjKPlT9/YDv4cTvjyFEMzuXdlUDMceyOUEQxzwXADT7zCoCvmhngiDO5fFmyvKqqxxcOCkQzeitDwDNSsx5ji6eBIjzbIBm1dUChzcQd4iG1SUANEHUxeJ/ye9UhpiS8Q2NF/FhkM0YbsxCxzcTR4i1ZIXtuYMpqyCwhhBuKG4QG2xmBqCZaVoR0k3FCeJKHs/aAM9xRIIlY5VFiJ5WSUZDZDYG0GyTx6KZxhBvMOoQG8notBkC22/dYzyuk/wTQSQR4jSysVlNAIgJ43562U+E3FT8QHTdX68im36xFiDYALFoxqy52xiBzjobxM8c174XeH5YrNVrmY7zUQYXlobk0jwMRJcPeQV9ZLBpy/SqbUPHeIjnL4fcF2aDeMBh7XuR54ckY6vbg4ZuSA2CKc5FkrEeOGSIKMReGZ3UxtHVCtW1ZDFANpINIGacvuc59kaURwTiedVrMrpKH8cLDq5ZTgZCJmk/AGHt9LSxKr1Jpq41kUGHeKzcnWw/LPKqfCSj2S3WSS775YLbguWq6aLsd8jCMzTjZfB3dvN8q4yv4poKhrKavcJgcC0XgLA/WPMwC9Ucof4w6H6vmWU+SgaSK0DzBLrohWMbfEmC4ZnkE9Usc9adqn4AIqMPtsH3MRLRIg/YtZgAm8my1bGsreIjm5HfED6i1ttldFkXVlm9nbCaWMIymbQn28XnNt9cEu8gJQjiYklJvFNOeIvpLANeIIl3jFUS4ny+nZCgIQmpn64Q3kMtNM01+VgZn5pJPrZborU526+fZycfQ+Kdh15kmm/6u1dlfBf3X6rvJPrp7+bQr33KGvvvFcfp72xDoPFNGU1qGKcEjLjXbyTP9YlBpQDt5uC7IyLwsDEQiTQimQLUttWMXpiZPSxrQwwNkzBhJKHFFCTyHCzhdwN8sAXb0usqDXI/h0TYb3s1YHDYw4bZs2dkfMUZIslIY3BEIp4G2bZSvukyE3F3sQl18vxenteZztGDSZBTlxEQOUwPIZBF9FFIBQ+H3PywQC8LfYsFThPQlEwF79W8zY8RQI9KYX6M4DJrdCJ/jCDbMKpWJv85DFOr0uzLbsjEn8PokRDTU/0vwACwczOmB6btAwAAAABJRU5ErkJggg==");
	background-size: contain;
}

.nav-title {
	position: absolute;
	top: 16px;
	left: 42px;
	color: #d5d5d6;
}

.foot-nav {
	position: fixed;
	bottom: 0px;
	height: 70px;
	width: 100%;
	background: #000000;
	opacity: 0.9;
}

.footer-nav {
	position: relative;
	height: 50px;
	width: 10%;
	max-width: 800px;
	margin-top: 8px;
	margin-left: 18%;
	float: left;
}

.footer-nav-img {
	position: absolute;
	display: block;
	height: 45px;
	width: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.footer-nav-img img {
	width: 90%;
	height: 50%;
	background-repeat: no-repeat;
}

.footer-nav-font {
	position: absolute;
	color: #F8F8F8;
	height: 10px;
	width: 100%;
	margin: 0 auto;
	clear: all;
	margin-bottom: 10px;
	margin-top: 0px;
	bottom: 0px;
}

.nav-pannel-bk {
	position: fixed;
	bottom: 70px;
	height: 135px;
	width: 100%;
	background: #000000;
	opacity: 0.9;
	z-index: 10000;
}

.nav-pannel {
	position: fixed;
	bottom: 70px;
	width: 100%;
	height: 135px;
	background: none;
	opacity: 0.9;
	color: #FFFFFF;
	z-index: 10001;
}

.child-mod {
	padding: 5px 10px;
	margin: 15px;
}

.child-mod span {
	display: inline-block;
	padding-right: 20px;
	padding-left: 10px;
}

.font-size-button {
	background: none;
	border: 1px #8c8c8c solid;
	color: #FFFFFF;
	border-radius: 16px;
	padding: 5px 40px;
}

.child-mod button:nth-child(2) {
	margin-right: 20px;
}

.bk-container {
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #FFFFFF;
	display: inline-block;
	vertical-align: -12px;
	margin-right: 22px;
}

.bk-container-current {
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px #ff7800 solid;
	top: -2px;
	left: -2px;
}

.article-action-mid {
	position: fixed;
	z-index: 10002;
	width: 100%;
	height: 40%;
	top: 30%;
}