<style type="text/css">
	.top {
		position: relative;
		height: 44px;
		border-bottom: 1px solid #ddd;
		font: 15px/45px a;
		color:rgba(0,0,0,0.7);
		background-color: #efeff0;
	}
	.top__back {
		float: left;
		width: 42px;
		height: 44px;
	}
	.top__back:before {
		content: '';
		display: block;
		margin: 15px 0 0 16px;
		width: 10px;
		height: 16px;
		background:url(/static/img/back.png) no-repeat;
		background-size: 10px 16px;
	}

	.header-home {
		float: right;
		width: 44px;
		height: 44px;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01eZH42sBV7/QTS90E2ZVritaa.png) no-repeat center;
		background-size: 16px;
	}
</style>
<div class="top">
	<a class="top__back" href="/"></a>
	<span class="top__title"><%=nav%></span>
	<a class="header-home" href="/"></a>
</div>