<section class="channel-group main-card">
	<div class="channel-group__header">
		<h2 class="channel-group__title channel-group__title_left">限时免费</h2>
	</div>
	<ul class="book-table">
		<li v-for="item in free">
			<a href="/book?id={{ item.fiction_id }}">
				<div class="u-book -vertical">
					<div class="book-cover">
						<img alt="{{ item.title }}" v-bind:src="item.data.cover">
						<div class="u-tagRT -freefiction"></div>
					</div>
					<div class="info">
						<h3 class="title">{{ item.ad_name }}</h3>
					</div>
				</div>
			</a>
		</li>
	</ul>
	<a class="channel-group__footer" data-href="#page=channel&amp;id=371">更多限免佳作&gt;&gt;</a>
</section>