<html manifest="cache.appcache">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/all.css"/>
	<title></title>
</head>
<body>
	<div id="root">
		<div class="Swipe Swipe_full Destructor">
			<div style="width: 734px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
					
					<div class="Swipe Swipe_full Destructor">
						<div style="width: 1468px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
							<div style="width: 734px;">
							    <% include include/common-header.html %>
								<div class="top__bd">
									<div class="task-page">
										<ul class="u-list task-list">
											<li>
												<div class="task-card" id="Tag__112" vp-click="$root.exec()">
													<div class="icon">
														<img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p017rdZTB65K/pDJrF2XCYRGKRP.png"></div>
													<section class="other">
														<p class="button" vp-bind="$root.buttonText()">签到</p>
													</section>
													<section class="info">
														<h3 class="title">每日签到</h3>
														<p class="summary">每天签到都有奖，连续7天抽大奖！</p>
													</section>
												</div>
											</li>
											<li>
												<div class="task-card" id="Tag__118" vp-click="$root.exec()">
													<div class="icon">
														<img src="http://image.read.duokan.com/mfsv2/download/s010/p013RMsIOqyv/sGIEbajzOxoxwT.png"></div>
													<section class="other">
														<p class="button" vp-bind="$root.buttonText()">领取</p>
													</section>
													<section class="info">
														<h3 class="title">
															新人大礼 <em class="coin">送500书币</em>
														</h3>
														<p class="summary">新用户立刻获赠500书币大礼包，马上去领取吧！</p>
													</section>
												</div>
											</li>
											<li>
												<div class="task-card" id="Tag__113" vp-click="$root.exec()">
													<div class="icon">
														<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png"></div>
													<section class="other">
														<p class="button" vp-bind="$root.buttonText()">充值</p>
													</section>
													<section class="info">
														<h3 class="title">5元充值</h3>
														<p class="summary">充值5元获得500书币</p>
													</section>
												</div>
											</li>
											<li>
												<div class="task-card" id="Tag__114" vp-click="$root.exec()">
													<div class="icon">
														<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png"></div>
													<section class="other">
														<p class="button" vp-bind="$root.buttonText()">充值</p>
													</section>
													<section class="info">
														<h3 class="title">10元充值</h3>
														<p class="summary">充值10元获得1000书币</p>
													</section>
												</div>
											</li>
											<li>
												<div class="task-card" id="Tag__115" vp-click="$root.exec()">
													<div class="icon">
														<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png"></div>
													<section class="other">
														<p class="button" vp-bind="$root.buttonText()">充值</p>
													</section>
													<section class="info">
														<h3 class="title">20元充值</h3>
														<p class="summary">充值20元获得2000书币</p>
													</section>
												</div>
											</li>
											<li>
												<div class="task-card" id="Tag__116" vp-click="$root.exec()">
													<div class="icon">
														<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png"></div>
													<section class="other">
														<p class="button" vp-bind="$root.buttonText()">充值</p>
													</section>
													<section class="info">
														<h3 class="title">50元充值</h3>
														<p class="summary">充值50元获得5000书币</p>
													</section>
												</div>
											</li>
											<li>
												<div class="task-card" id="Tag__117" vp-click="$root.exec()">
													<div class="icon">
														<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png"></div>
													<section class="other">
														<p class="button" vp-bind="$root.buttonText()">充值</p>
													</section>
													<section class="info">
														<h3 class="title">100元充值</h3>
														<p class="summary">充值100元获得10000书币</p>
													</section>
												</div>
											</li>
											<p class="explain">1元=100书币，充值任务赠送的书币半年后失效。</p>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
	</html>